body {
  width: 450px;
  height: 150px;
  background-color: #0c3b78 !important;
}

.nav-bg {
  background-color: #072f62 !important;
  color: snow;
  border-bottom: 1px solid rgb(10, 37, 114);
}

.clip-text {
  padding: 4px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c9cdd2;
  resize: vertical;
}

html {
  font-family: sans-serif;
}

.card {
  margin-bottom: 10px;
  background-color: transparent !important;
  border: unset !important;
}

.card-header {
  height: 30px;
  font-size: 13px;
  padding: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.card-header-btn {
  width: 60%;
  border-radius: 3px 3px 0px 0px !important;
  background-color: #3e6fb9 !important;
  padding: 0px 0px 0px 10px;
  border: 1px solid #e7e5e518;
  height: 30px;
  margin-left: -12px !important;
  color: snow;
  text-align: start;
  font-size: medium;
}

.card-body {
  height: 40px !important;
  font-size: 12px !important;
  padding: 0px 0px 0px 12px !important;
  background-color: #e7e5e5 !important;
  border-radius: 0px 2px 2px 2px !important;
}

.add-new-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #507bbb !important;
  border-color: #4772b3 !important;
}

.add-new-btn:hover {
  background-color: #3e6fb9 !important;
  border-color: #8fa2c0 !important;
}

.copy-btn {
  height: 4vh !important;
  font-size: 12px !important;
  padding: 0px 6px 0px 6px !important;
}

#add-section {
  margin-top: 10px;
}

.navbar > .container {
  justify-content: center !important;
}

.no-results {
  color: snow;
  padding-top: 50px;
  padding-bottom: 70px;
}
