body {
  width: 450px;
  height: 450px;
  background-color: #73849629 !important;
}

.nav-bg {
  background-color: #3d608475 !important;
}

.clip-text {
  padding: 4px;
  margin: 5px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #c9cdd2;
  resize: vertical;
}

html {
  font-family: sans-serif;
}

.card {
  margin-bottom: 10px;
}

.card-header {
  height: 20px;
  font-size: 13px;
  padding: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  background-color: rgb(20 121 226 / 45%) !important;
}

.card-body {
  height: 30px !important;
  font-size: 12px !important;
  padding: 0px 0px 0px 12px !important;
}

.add-new-btn {
  margin-top: 10px;
  margin-bottom: 10px;
}

.copy-btn {
  height: 4vh !important;
  font-size: 12px !important;
  padding: 0px 6px 0px 6px !important;
}

#add-section {
  margin-top: 10px;
}

.card-body {
  background-color: white !important;
}
